<div class="highlight"><pre>{% extends <span class="ni">&amp;lsquo;</span>base.html<span class="ni">&amp;rsquo;</span> %}
{% block content %}<span class="nt">&lt;/p&gt;</span>

<span class="nt">&lt;pre&gt;&lt;code&gt;</span><span class="ni">&amp;lt;</span>h2<span class="ni">&amp;gt;</span>Tags<span class="ni">&amp;lt;</span>/h2<span class="ni">&amp;gt;</span>
<span class="ni">&amp;lt;</span>ul<span class="ni">&amp;gt;</span>
    {% for tags in object_list %}
        <span class="ni">&amp;lt;</span>li<span class="ni">&amp;gt;</span> <span class="ni">&amp;lt;</span>a href=&#39;{% url &#39;tag_details&#39; pk=tags.pk %}&#39;<span class="ni">&amp;gt;</span>{{ tags.name }}<span class="ni">&amp;lt;</span>/a<span class="ni">&amp;gt;</span>
    {% endfor %}
<span class="ni">&amp;lt;</span>/ul<span class="ni">&amp;gt;</span>
<span class="nt">&lt;/code&gt;&lt;/pre&gt;</span>

<span class="nt">&lt;p&gt;</span>{% endblock %}
</pre></div>