<div class="highlight"><pre>{% extends <span class="ni">&amp;lsquo;</span>base.html<span class="ni">&amp;rsquo;</span> %}
{% block content %}<span class="nt">&lt;/p&gt;</span>

<span class="nt">&lt;h2&gt;</span>{{ object.title }}<span class="nt">&lt;/h2&gt;</span>


<span class="nt">&lt;p&gt;</span>{{ object.body }}<span class="nt">&lt;/p&gt;</span>


<span class="nt">&lt;p&gt;&lt;b&gt;</span>Tags:<span class="nt">&lt;/b&gt;&lt;/p&gt;</span>

<span class="nt">&lt;pre&gt;&lt;code&gt;</span><span class="ni">&amp;lt;</span>p<span class="ni">&amp;gt;</span>
<span class="nt">&lt;/code&gt;&lt;/pre&gt;</span>

<span class="nt">&lt;p&gt;</span>{% for item in object.tags.all %}<span class="nt">&lt;/p&gt;</span>

<span class="nt">&lt;pre&gt;&lt;code&gt;</span><span class="ni">&amp;lt;</span>a href=&quot;{% url &#39;tag_details&#39; pk=item.pk %}&quot;<span class="ni">&amp;gt;</span>{{ item }}<span class="ni">&amp;lt;</span>/a<span class="ni">&amp;gt;</span>,
<span class="nt">&lt;/code&gt;&lt;/pre&gt;</span>

<span class="nt">&lt;p&gt;</span>{% endfor %}<span class="nt">&lt;/p&gt;</span>

<span class="nt">&lt;pre&gt;&lt;code&gt;</span><span class="ni">&amp;lt;</span>/p<span class="ni">&amp;gt;</span>
<span class="nt">&lt;/code&gt;&lt;/pre&gt;</span>

<span class="nt">&lt;p&gt;</span>{% endblock %}
</pre></div>